.block-leaders{
    z-index: 1;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .leadersLogo{
    z-index: 1;
    width: 80px;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    color: #EBEBEB;
    margin-top: 30px;
  }
  .leadersLogo p{
    z-index: 1;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    color:#EBEBEB;
    font-family: "Neometric";
  }
  .img-referals{
    width: 100%;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .listOfTasks{
    z-index: 99;
    display: flex;
    width: 100%;
    min-width: 330px;
    height: 300px;
    overflow-y: auto;
    scroll-snap-type: mandatory;
    flex-wrap: wrap;
  }
  .block-task{
    z-index: 99;
    display: flex;
    width: 50%;
    justify-content: center;
  }
  .task{
    display: flex;
    width: 80%;
    min-width: 120px;
    height: auto;
    flex-wrap: wrap;
  }
  .taskbonus{
    display: flex;
    position: relative;
    width: 100%;
    height: 120px;
    border-radius: 15px;
    border: solid 2px #EBEBEB;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .taskbonus:hover{
    background-color: rgb(40, 39, 39);
  }
  .block-compleate{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: rgba(251, 251, 251, 0.568);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .block-compleate img{
    width: 60px;
    height: auto;
  }

  .tasktext{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    color: #EBEBEB;
    height: 70px;
  }
  .tasktext p{
    width: 100%;
    display: block;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  .contentOfTask{
    display: flex;
    width: auto;
    align-items: center;
    color: #EBEBEB;
  }
  .Moneta{
    margin-left: 5px;
    width: 20px;
    height: auto;
  }