.block-leaders{
    z-index: 1;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .leadersLogo{
    z-index: 1;
    width: 80px;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    color: #EBEBEB;
    margin-top: 30px;
  }
  .leadersLogo p{
    z-index: 1;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    color:#EBEBEB;
    font-family: "Neometric";
  }
  .img-racket{
    width: 100%;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .listOfliaders{
    z-index: 1;
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .examp{
    width: 92%;
    z-index: 1;
    min-width: 330px;
    max-width: 330px;
    display: flex;
    color: white;
    font-size: 18px;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 10px;
  }
  .examp:nth-child(1){
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #b4770d 0%, rgba(246,191,4,1) 35%, rgba(255,111,0,1) 100%);
    color: black;
  }
  .examp:nth-child(2){
    background: rgb(187,183,177);
    background: linear-gradient(90deg, rgba(187,183,177,1) 0%, rgba(101,100,97,1) 35%, rgba(108,105,103,1) 100%);
    color: black;
  }
  .examp:nth-child(3){
    background: rgb(112,47,8);
    background: linear-gradient(54deg, rgba(112,47,8,1) 0%, rgba(255,77,0,1) 35%, rgba(134,35,1,1) 96%);
    color: black;
  }
  .examp:last-child{
    margin-bottom: 0px;
  }
  .number{
    width: 50px;
  }
  .yournumber{
    width: 120px;
  }

.username{
  width: 120px;
}
.usercount{
  width: 120px;
  text-align: end;
}
.yourplace-block{
  display: flex;
  width: 330px;
  height: 20px;
  font-size: 18px;
  color: white;
  border: 2px solid #bebebe;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.WatchMore{
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  background-color: #EBEBEB;
  width: 330px; 
  height: 40px;
  border-radius: 5px;
  /* border: solid 1px #bebebe; */
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 20px;
  transition: all 0.4s ease;
}
.WatchMore:hover{
  background-color: black;
  color: #EBEBEB;
}
.block-learn{
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.popupLead{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  display: flex;
  align-items: end;
  opacity: 0.5;
  z-index: 20;
  transform: translateY(+100%);
  background-color: rgba(88, 87, 86, 0.607);
  transition: opacity 0.3s ease;
}
.popupLead.active{
  opacity: 1;
  transform: translateY(0%);
}

.block-popup-scroll{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  height: 70%;
  width: 100%;
  transform: translateY(+100%);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-top: solid 2px #EBEBEB;
  transition: transform 0.4s ease;
}
.block-popup-scroll.active{
  transform: translateY(0%);
}
.block-close-popup{
  width: 90%;
  margin-top: 10px;
  color: #EBEBEB;
  display: flex;
  height: auto;
  font-size: 30px;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.block-close-popup .iconClose{
  font-size: 30px;
  color: #EBEBEB;
  transition: all 0.4s ease;
}
.block-close-popup .iconClose:hover{
  color: rgb(88, 2, 2);
}
.block-liaders-scroll{
  position: relative;
  display: block;
  width: 330px;
  max-width: 330px;
  height: 70%;
  overflow-y: auto;
  scroll-snap-type: mandatory;
}
.block-liaders-scroll::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(20, 19, 19);           
}
.block-liaders-scroll::-webkit-scrollbar-thumb{
  background-color: #EBEBEB;
  border-radius: 5px;
}
.block-liaders-scroll .examp{
  max-width: 100%;
  min-width: 100%;
  padding: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.block-liaders-scroll .examp .username{
  width: 90px;
}
.block-liaders-scroll .examp   .number{
  width: 30px;
}
.block-liaders-scroll .yourplace-block{
  max-width: 98%;
  padding: 5px 0px;
}